.add-user-form {
  input[type=text] {
      &:focus, &:active{
          background-color: black !important;
      }
  }
//   input:-webkit-autofill {
//       -webkit-box-shadow: 0 0 0px 1000px black inset;
//   }
  padding: 20px;
  display: block;
  width: 500px;
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .add-user-form {
        padding: 0;
        width: 300px;
    }
}