<p>login-form works!</p>
<form (submit)="submitForm($event)" class="add-user-form" *ngIf="page === 'signup'">
  <h4>Signup</h4>
  <app-input type="text" (inputData)="handleEventData($event)" value="user.summonerName" name="summonerName" placeholder="Your summonername Ex: Faker"></app-input>
  <app-input type="password" (inputData)="handleEventData($event)" value="user.password" name="password" placeholder="password..."></app-input>
  <button mat-button color="warn">Signup</button>
</form>

<form (submit)="loginForm($event)" class="add-user-form" *ngIf="page === 'login'">
  <h4>Login</h4>
  <app-input type="text" (inputData)="handleEventData($event)" value="user.summonerName" name="summonerName" placeholder="Your summonername"></app-input>
  <app-input type="password" (inputData)="handleEventData($event)" value="user.password" name="password" placeholder="password..."></app-input>
  <p *ngIf="errorMsg && page === 'login'">{{errorMsg}}</p>
  <button mat-button color="warn">Login</button>
</form>

