.user-profile {
    max-width: 1000px;
    margin: 0 auto;
    .ranked-user {
      background-color: var(--coolDark);
    }
  }
  
  
  .hero-wrapper {
    box-shadow: 10px 10px 8px var(--highContrastRed);
    height: 300px;
    background-color: black;
    margin: 20px 0;
    .hero-image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-position-y: 15%;
      background-repeat: no-repeat;
      background-size:cover;
      position: relative;
      
    }
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-size: 1.2em;
    
      color: white;
      .profile-username {
        width: 300px;
        font-size: 1.2em;
      }
      .icon-lvl {
        position: relative;
        text-align: center;
        color: white;
        img {
          width: 100px;
          border-radius: 20%;
          height: 100px;
        }
        .top-right {
          padding: 4px;
          border-radius: 50%;
          position: absolute;
          top: -15px;
          left: 85px;  
          background-color: var(--coolDark  );
        }
      }
  
    }
  }

  @keyframes breathing {
    0% {
      -webkit-background-position-y: 15%;
      -ms-background-position-y: 15%;
      background-position-y: 15%;
    }
  
    50% {
      -webkit-background-position-y: 17%;
      -ms-background-position-y: 17%;
      background-position-y: 17%;
    }

    100% {
      -webkit-background-position-y: 15%;
      -ms-background-position-y: 15%;
      background-position-y: 15%;
    }
  }

  @media screen and (max-width: 400px) {
    .hero-wrapper {
      height: 150px; 
    }
  
  }