<div class="hero-wrapper" *ngIf="(currentUser$ | async) as user"> 
    <div class="hero-image" [ngStyle]="{'background-image': userData.favoriteChampUrl}">
      <div class="hero-text">
        <div class="icon-lvl">
          <img [src]="userData.profileIconId" alt="" srcset="">
          <div class="top-right">{{userData.summonerLevel}}</div>
        </div>
        <div class="profile-username">{{userData.name}}</div>
        <button *ngIf="user.accountId !== userData.accountId && !isFollowed" mat-button color="primary" (click)="followUser(userData.accountId)">Follow</button>
        <button *ngIf="user.accountId !== userData.accountId && isFollowed" mat-button color="primary" (click)="unFollowUser(userData.accountId)">Unfollow</button>
      </div>
    </div>
  </div>