#chart {
  background-color: inherit;
  flex: 2;
  // margin: 5px auto;
  margin: 5px;
  width: 80%;
}

.mat-tab-group {
  margin-bottom: 48px;
}
.yes {
  background-color: var(--coolDark);
  color: white;
}

.mat-tab-label, .mat-tab-link, .mat-tab-label-content {
  color: white !important;
}
.apexcharts-toolbar {
  display: none !important;
}

.blueSideBG {
  background-color: rgba(7, 7, 66, 0.548);
}
.redSideBG {
  background-color: rgba(77, 5, 5, 0.425);
}

@media screen and (max-width: 620px) {
  #chart, .mat-tab-group, .mat-tab-label-container{
    width: 400px;
    height: 420px;
  }
}