<div  id="chart"
*ngIf="chartOptions 
  && chartOptions.xaxis
  && chartOptions.plotOptions
  && chartOptions.dataLabels
  && chartOptions.chart
  && chartOptions.series
  && chartOptions.fill
  && chartOptions.tooltip
  ">
  <mat-tab-group mat-align-tabs="start" class="yes" animationDuration="2ms" 
  (selectedTabChange)="changeGraphStat($event)" 
  [ngClass]="{'blueSideBG': gameMetaData.teamId === 100, 'redSideBG': gameMetaData.teamId === 200}">
    <mat-tab [label]="stat.displayName" *ngFor="let stat of avaialbleStats" >  
      <apx-chart 
      [tooltip]="chartOptions.tooltip"
      [fill]="chartOptions.fill"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      ></apx-chart>
    </mat-tab>
</mat-tab-group>
</div>
