.footer {
    z-index: 1;
    background-color: var(--coolDark);
    margin-top: 10px;
    .footer-text {
        padding: 5px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        width: 80%;
    }
    clear: both;
    height: auto;
    margin-top:auto; 
    position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .footer {
        margin-top:auto; 
        // position: fixed;
        bottom: 0;
        font-size: 0.8em;
        .footer-text {
            margin-bottom: 8px;
            margin-top: 8px;
            // padding: 1px,
        }
    }
}