<mat-toolbar class="header-container">
  
  <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/matches" routerLinkActive="active" class="linkBtn"><span> Home</span></a>
  <span class="example-spacer"></span>

  <h3 *ngIf="(currentUser$ | async) as currentUser">{{currentUser.name}}</h3>
  <span class="example-spacer"></span>

  <button *ngIf="(currentUser$ | async)" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/following" routerLinkActive="active">
    Following <mat-icon >group</mat-icon>
   </button>

   <button class="header-summoner-icon" *ngIf="(currentUser$ | async) as currentUser"  mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon" routerLink="/profile" routerLinkActive="active">
    Profile 
    <img class="icon" src="{{currentUser.profileIconId}}" alt="" srcset="">
   </button>

  <button *ngIf="!(currentUser$ | async)" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"  routerLink="/login" routerLinkActive="active">
    Login<mat-icon >login</mat-icon>
  </button>

  <button *ngIf="!(currentUser$ | async)" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"  routerLink="/signup" routerLinkActive="active">
   SignUp <mat-icon>login</mat-icon>
  </button>
  
  <button *ngIf="(currentUser$ | async)" (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    logout <mat-icon >logout</mat-icon>
   </button>
</mat-toolbar>