// @import "../../../../styles/settings/variables";

.header-container {
  height: 80px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, var(--highContrastRed),  var(--coolDark));
  color: white;

  .header-summoner-icon {
    height: 30px;
    width: 100px;
  }
  .icon {
    height: 24px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.linkBtn {
  color: white;
  margin: 10px;
}

.example-icon {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

