// @import "../../../../styles/settings/variables";

.header-container {
  height: 80px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, var(--highContrastRed),  var(--coolDark));
  color: white;

  .header-summoner-icon {
    height: 30px;
    width: 100px;
  }
  .icon {
    height: 35px;
  }
  .sidenav-container {
    flex: 1;
    .sidenav {
        min-width: 240px;
        a {
            display: block;
            padding: 6px 24px;
            width: 100%;
            text-align: left;
        }
    }
    main {
        padding: 18px 24px;
    }

}

  .fullSearch {
    width: 100%;

  }
  .mat-form-field {
    display: block !important;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.linkBtn {
  color: white;
  margin: 10px;
}

.searchText {
  
}

.mat-icon-button {
  width: 100px !important;
  height: 60px !important;
}

.example-icon {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .nav-item {
    display: none;
  }
}