<mat-toolbar class="header-container">
  <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/matches" routerLinkActive="active" class="linkBtn"><span> Home</span></a>
  <span class="example-spacer"></span>
  <h3 *ngIf="currentUser$ | async as currentUser">{{currentUser.summonerName}}</h3>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon routerLink="/following" routerLinkActive="active">group</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>