
<div class="match-table" *ngIf="player && player.stats">
  <div *ngIf="player.items.length > 0 && (champions$ | async) as champions" > 
    <table [ngClass]="{'victory': player.win, 'defeat': !player.win}">
      <tr *ngIf="loaded && player.stats">
        <th *ngIf="player.win">Victory</th>
        <th *ngIf="!player.win">Defeat</th>
        <td>
          <img src="{{player.summoners.summonersURL1}}" alt="">
          <img src="{{player.summoners.summonersURL2}}" alt="">
        </td>
        <td *ngIf="champions[player.timeline.championID].image.full"> <img src="{{championImageUrl}}{{champions[player.timeline.championID].image.full}}" alt=""> </td>
        <td>{{player.kda}}</td>
        <td mat-icon-button aria-label="Example icon-button with share icon" [routerLink]="['/matches', match.gameId]">
          View Match <mat-icon>arrow_forward</mat-icon> 
        </td>
      </tr>
    </table>
  </div>
</div>
