table, th, td {
  background-color: var(--coolDark);
  color: white;
}
table {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

th {
  padding: 15px;
  text-align: left;
}
td {
  text-align: center;
  img {
    width: 30px;
    height: 30px;
  }
}

.match-table {
  margin: 8px;
  .timeStamp {
    font-size: 11px;
    font-weight: 50;
  }
  .testCenter {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 11%;
    margin-left: 10%;
  }
}

.victory {
  border: 4px solid rgb(77, 233, 77);
  border-radius: 10px;
}

.defeat {
  border: 4px solid rgb(156, 16, 16);
  border-radius: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;

}