table, th, td {
  // border: 1px solid blue;
  border-collapse: collapse;
  background-color: black;
  color: white;
}
table {
  width: 850px;
  margin: 0 auto;
}

th {
  padding: 15px;
  text-align: left;
}
td {
  text-align: center;
  img {
    width: 40px;
    height: 40px;
  }
}

.match-table {
  padding: 20px;
  // :hover, :not(:nth-child) {
  //   transform: scale(1.05);
  // }
}

.victory {
  // padding: 10px;
  border: 10px solid red;
}