
<div class="match-table" *ngIf="player && player.stats && !showErrorComp">
  <div *ngIf="player.items.length > 0 && (champions$ | async) as champions" > 
    <table [ngClass]="{'victory': player.win, 'defeat': !player.win}">
      <tr *ngIf="loaded && player.stats">
        <th *ngIf="player.win">Victory<div class="timeStamp">{{player.timeAgo}}</div></th>
        <th *ngIf="!player.win">Defeat<div class="timeStamp">{{player.timeAgo}}</div></th>
        <td >{{player.timeline.isRanked ? 'Ranked' : 'Normal' }}</td>
        <td>
          <img src="{{player.summoners.summonersURL1}}" alt="">
          <img src="{{player.summoners.summonersURL2}}" alt="">
        </td>
        <td *ngIf="champions[player.timeline.championID].image.full"> <img src="{{championImageUrl}}{{champions[player.timeline.championID].image.full}}" alt=""> </td>
        <td>{{player.kda}}</td>
        <td class="testCenter" mat-icon-button aria-label="Example icon-button with share icon" [routerLink]="['/matches', match.gameId]">
          Show <mat-icon>arrow_forward</mat-icon> 
        </td>
      </tr>
    </table>
  </div>
</div>

<app-too-many *ngIf="showErrorComp"></app-too-many>
