
.card-container {
  // padding: 20px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-self: center;
  // .example-card {
  //   width: 50%;
  // }
  .middle {
    width: 20px;
    margin: 0 auto;
    text-align: center;
  }
}