.whole {
  margin: 0 auto;
  margin-top: 10px;
  width: 1000px;
  .card-container {
   
    margin: 0 auto;
    display: flex;
    .middle {
      width: 20px;
      margin: 0 auto;
      text-align: center;
    }
    .progress-bar {
      color: white;
    }
  }
  
  .middle-button {
    display: flex;
    margin: 0 auto;
    align-self: center;
    width: 200px;
    text-align: center;
    border-bottom: 1px solid var(--highContrastRed);
  }
}

@media screen and(max-width: 900px) {
  .card-inner {
    flex-basis: 100%;
    // display: block;
    // width: 1000px;
  }
}
