<div class="whole">
  <button class="middle-button" mat-button (click)="changeStats()">{{!graph ? 'Show graph' : 'Show stats'}}</button>
  <div class="card-container" *ngIf="!graph">
      <div *ngIf="teamOne.Players.length < 0 && teamTwo.Players.length < 0  && !loaded">
        <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>
      </div>
      <div class="example-card" *ngIf="teamOne.Players.length > 0 && loaded">
        <app-match-card [teamInfo]="teamOne"></app-match-card>
      </div>
      <div class="middle">VS</div>
    
      <div class="example-card" *ngIf="teamTwo.Players.length > 0 && loaded">
        <app-match-card [teamInfo]="teamTwo"></app-match-card>
      </div>
  </div>
  
  <div class="card-container" *ngIf="graph">
    <div *ngIf="teamOne.Players.length > 0 && loaded" class="example-card">
      <app-chart [teamStats]="teamOne.Players"></app-chart>
    </div>
    <div class="middle">VS</div>
    <div *ngIf="teamTwo.Players.length > 0 && loaded" class="example-card">
      <app-chart [teamStats]="teamTwo.Players"></app-chart>
    </div>
  </div>
</div>
