.user-games-data {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: inherit;
    .pag-items {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: space-between;
      padding: 20px; 
      >* {
        cursor: pointer;
      }
    }

  .pag-games {
    padding: 20px;
    border-top: 4px solid white;
    :hover {
      cursor: pointer;
    }
  }

}

@media only screen and (max-width: 700px) {
  .user-games-data  {
    width: 100%;
    padding: 0 !important;
    font-size: 0.9em;
  }
}