<div class="user-games-data" *ngIf="allMatches.length >= 5 && !isInStore">

  <h1>Latest matches</h1>
  <div *ngFor="let match of allMatches">

    <app-match-list-item [match]="match"></app-match-list-item>
  </div>

</div>
<div *ngIf="isInStore" class="user-games-data">
  <div *ngFor="let match of nonMetaMetaches">
    <app-match-list-nonmeta-item [match]="match" ></app-match-list-nonmeta-item>
  </div>
</div>
<div *ngIf="allMatches.length >= 5  && !isInStore" class="user-games-data">
  <div class="pag-items">
    <mat-icon *ngIf="!start" (click)="getPagMatches(false)"> arrow_back </mat-icon>
    Page: {{page}}
    <mat-icon (click)="getPagMatches(true)">arrow_forward</mat-icon>
  </div>
</div>
