<div class="user-games-data" *ngIf="allMatches && allMatches.length >= 5 && !isInStore && !showErrorComp">
  <h1>Latest matches</h1>
  <div *ngFor="let match of allMatches">
    <app-match-list-item [match]="match"></app-match-list-item>
  </div>
  <div *ngIf="allMatches.length >= 5 || nonMetaMatches && nonMetaMatches.length >= 5">
    <div class="pag-items">
      <div *ngIf="page !== 1" (click)="getPagMatches('less')"> Go back... <mat-icon >arrow_upward</mat-icon></div>
      <div (click)="getPagMatches('more')">Show more games... <mat-icon >arrow_downward</mat-icon></div> 
    </div>
  </div>
  <div *ngIf="(paginationMetaMatches$ | async) as pagMatches"  class="pag-games">
    <div *ngFor="let pagMatch of pagMatches">
      <app-match-list-item [match]="pagMatch"></app-match-list-item>
    </div>
  </div>
</div>

<div *ngIf="isInStore && !showErrorComp" class="user-games-data">
  <h1>Latest matches</h1>
  <div *ngFor="let match of nonMetaMatches">
    <app-match-list-nonmeta-item [match]="match" ></app-match-list-nonmeta-item>
  </div>
  <div *ngIf="(allMatches && allMatches.length >= 5) || (nonMetaMatches && nonMetaMatches.length >= 5)">
    <div class="pag-items">
      <div *ngIf="page !== 1" (click)="getPagMatches('less')"> Go back... <mat-icon >arrow_upward</mat-icon></div>
      <div (click)="getPagMatches('more')">Show more games... <mat-icon >arrow_downward</mat-icon></div> 
    </div>
  </div>
  <div *ngIf="(paginationMetaMatches$ | async) as pagMatches" class="pag-games">
    <div *ngFor="let pagMatch of pagMatches">
      <app-match-list-item [match]="pagMatch"></app-match-list-item>
    </div>
  </div>
</div>
<app-too-many *ngIf="showErrorComp"></app-too-many>
