.user-games-data {
  width: 800px;
  margin: 0 auto;
  background-color: inherit;
    .pag-items {
      display: flex;
      padding: 20px;
      justify-items: space-between;
    }

  .pag-games {
    padding: 20px;
    border-top: 4px solid white;
    :hover {
      cursor: pointer;
    }
  }

}

@media only screen and (max-width: 700px) {
  .user-games-data  {
    width: 100%;
    padding: 0 !important;
    font-size: 0.9em;
  }
}