.match-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  .match-side {
    display: flex;
    flex-wrap: nowrap;
  }
  .bans {
    padding: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
  }
  .img {
    width: 35px;
    height: 35px;
  }
}