// $coolDark: rgb(24, 17, 13);
// $smoothDark: rgba(26, 34, 46, 0.85);
// $middleDark: rgba(41, 52, 68, 0.85);
// $highContrastRed: rgb(138, 5, 5);
:root {
    --coolDark: rgb(24, 17, 13);
    --smoothDark: rgba(26, 34, 46, 0.85);
    --middleDark: rgba(41, 52, 68, 0.85);
    --highContrastRed: rgb(138, 5, 5);
    --brightRed: rgba(151, 54, 9, 0.849);
    --lightDark: rgba(51, 9, 9, 0.918);
}