/* You can add global styles to this file, and also import other style files */
@import "../src/styles/settings/variables";
// @import "../src/test.scss";
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: var(--coolDark); 
  color: whitesmoke; 
}

.mat-button, .mat-icon-button {
  color: white !important;
  border-left: 1px solid var(mat-light-theme) !important;
  border-radius: 0 !important;
  width: 100px !important;
  height: 60px !important;
}


.mat-tab-label, .mat-tab-link, .mat-tab-label-content {
  color: white !important;
  
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: var(--highContrastRed)
}

.apexcharts-toolbar, .apexcharts-menu-icon {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .mat-tab-label {
    padding: 0 !important;
    margin: 0 !important;
  }
}