<app-hero *ngIf="favChamp" [favChamp]="favChamp" [userData]="userData.summonerInfo"></app-hero>

<div class="user-profile" *ngIf="userData">
  <div class="col1" *ngIf="userData.rankedInfo">
    <div *ngFor="let info of userData.rankedInfo" class="col1-ranks">
      <div class="ranked-user" *ngIf="info.emblemPath">
        <div class="ranksIcon" *ngIf="info.queueType === 'RANKED_SOLO_5x5'"> Solo/Duo <img class="emblems" [src]="info.emblemPath" alt=""></div>
        <div class="ranksIcon" *ngIf="info.queueType === 'RANKED_FLEX_SR'"> Flex   <img class="emblems" [src]="info.emblemPath" alt=""> </div>
        <div> Division: {{info.rank}}</div>
        <div> LP: {{info.leaguePoints}}</div>
        <div> Wins: {{info.wins}} </div>
        <div> Losses: {{info.losses}} </div>
      </div>
    </div>
    <div *ngIf="userData.rankedInfo.length === 0" class="ranked-user">
      <div>No ranked games played</div>
    </div>
    <div class="top-played-champions">
      <div>Data about most played champion. KDA etc</div>
      <div>Data about most played champion. KDA etc</div>
      <div>Data about most played champion. KDA etc</div>
    </div>
  </div>

  <div *ngIf="!isInStore">
    <div class="user-games-data col2" *ngIf="isMe && (myMatches$ | async) as matches">
      <div *ngFor="let match of matches; index as i">
        <div *ngIf="i < 5"> 
          <app-match-list-item [match]="match"></app-match-list-item>
        </div>
      </div>
    </div>
    <div class="user-games-data col2" *ngIf="!isMe && (profileMatches$ | async) as profilematches">
      <div *ngFor="let match of profilematches; index as i">
        <div *ngIf="i < 5"> 
          <app-match-list-item [match]="match"></app-match-list-item>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="isInStore">
    <div class="user-games-data col2" *ngIf="isMe">
      <h1>IS ME && IS IN STORE</h1>
      <div *ngFor="let nonMetaMatch of nonMetaMetaches; index as i">
        <div *ngIf="i < 5"> 
          <app-match-list-nonmeta-item [match]="nonMetaMatch" ></app-match-list-nonmeta-item>
        </div>
      </div>
    </div>

    <div class="user-games-data col2" *ngIf="!isMe && (profileMatches$ | async) as matches">
      <div *ngFor="let match of matches; index as i">
        <div *ngIf="i < 5"> 
          <app-match-list-item [match]="match"></app-match-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
