.user-profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .col1 {
    background-color: var(--smoothDark);
    border-radius: 5px;
    width: 400px;
    margin-top: 10px;
    padding: 20px;
    min-height: 500px;
  }

  .col2 {
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    width: 700px;
    min-height: 500px;
  }

  .ranked-user {
    padding: 10px;
    background-color: var(--smoothDark);
  }
  .user-games-data {

    background-color: var(--darkBlue);

  }
  .top-played-champions {
    border-top: 1px solid var(--brightRed);
    padding: 10px;
    background-color: var(--lightDark);

  }
  @media only screen and (max-width: 700px) {
    .col1, .col2 {
      display: block;
      width: 400px;
    }
  }
  
}



// .hero-wrapper {
//   height: 250px;
//   background-color: black;
//   margin: 20px 0;
//   .hero-image {
//     background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_5.jpg");
//     height: 100%;
//     width: 100%;
//     background-position: center;
//     background-position-y: 10%;
//     background-repeat: no-repeat;
//     background-size:cover;
//     position: relative;
    
//   }
//   .hero-text {
//     text-align: center;
//     position: absolute;
//     top: 50%;
//     left: 15%;
//     transform: translate(-50%, -50%);
//     font-size: 1.2em;
  
//     color: white;
//     .profile-username {
//       width: 300px;
//       font-size: 1.2em;
//     }
//     .icon-lvl {
//       position: relative;
//       text-align: center;
//       color: white;
//       img {
//         width: 100px;
//         border-radius: 20%;
//         height: 100px;
//       }
//       .top-right {
//         padding: 4px;
//         border-radius: 50%;
//         position: absolute;
//         top: -15px;
//         left: 85px;  
//         background-color: var(--coolDark  );
//       }
//     }

//   }
// }

