<app-hero [userData]="userData.summonerInfo"></app-hero>

<div class="user-profile" *ngIf="userData">
  <div class="ranked-user col" >
    <div *ngFor="let info of userData.rankedInfo">
      <div> {{info.queueType}} : {{ info.tier }}</div>
      <div> LP: {{info.leaguePoints}}</div>
      <div> Wins: {{info.wins}} </div>
      <div> Losses: {{info.losses}} </div>
    </div>

  </div>
  <div class="user-games-data col">
    <div> Data about 5 recent games </div>
    <div> Data about 5 recent games </div>
    <div> Data about 5 recent games </div>
    <div> Data about 5 recent games </div>
    <div> Data about 5 recent games </div>
  </div>
  <div class="top-played-champions col">
    <div>Data about most played champion. KDA etc</div>
    <div>Data about most played champion. KDA etc</div>
    <div>Data about most played champion. KDA etc</div>
  </div>
</div>
